<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Change Password</title>
</head>
<body>
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!--Show message alert-->
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert-danger text-center" role="alert">
                        <p th:text="${session.message.content}"></p>
                        <script th:inline="javascript">
                            setTimeout(function() {
                             document.querySelector('[th\:if="${session.message}"]').remove();
                             }, 5000);
                        </script>
                    </div>
                    <h3 class="my-3 text-center">Change Your Password</h3>
                    <form action="" th:action="@{/change_password}" method="post">

                        <!-- new password field-->
                        <div class="form-group">
                            <input name="newPassword" type="password" class="form-control mt-2" placeholder="Enter new password"/>
                        </div>

                        <div class="container text-center mt-3">
                            <button type="submit" class="btn btn-success">Change Password</button>
                            <button type="reset" class="btn btn-warning">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>